.pagex{
    display: flex;
    
    justify-content: center;
   // height: 12vh;
    //background-color: aliceblue;
    padding: 20px;
   
    //flex-direction: row;
    //text-align: center;

   


}
input{
    padding: 15px;
    margin: 10px 0px;
    
    }
    

label{
            
    font-size: 20px;
    
  
       
    }

form{
    background-color:aliceblue;
    padding: 0px 60px;
    border-radius: 10px;
    height: 100vh;
    
}  

h1{
    text-align: center;
}

button{
    width: 100%;
}

