.pagex7{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: aliceblue;

      
    
}

input{
    padding: 15px;
    margin: 10px 0px;
}